@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Raleway;
}

:root {
  /* Colors */

  /* Primary colors */

  --clr-gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);

  /* Neutral colors */

  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);

  /* Font Size */
  --primary-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  min-height: 100vh;
  background-color: var(--Very-Dark-Blue);
  background-image: url(./images/bg-mobile.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

@media (min-width: 992px) {
  body {
    background-image: url(./images/bg-desktop.png);
    background-size: contain;
  }
}

.container {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.container > * {
  background-color: var(--Dark-Blue);
  padding: 45px;
  border-radius: 15px;
}

.container .left {
  border-top-right-radius: 100px;
}

.container .left .icons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  align-items: center;
  margin-right: 100px;
}

.container .left .icons .icon {
  background-color: var(--Very-Dark-Blue);
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
}

.container .left .icons .icon img {
  width: 25px;
  transition: 0.5s;
}

.container .left .icons .icon:hover img {
  transform: scale(1.2);
}

.container > .right {
  color: var(--Pale-Blue);
  width: 37rem;
}

.container > .right .progress {
  position: relative;
  width: 100%;
  height: 17px;
  border-radius: 50vw;
  background-color: var(--Very-Dark-Blue);
  padding: 2px;
  margin-top: 20px;
}

.container > .right .progress .notice {
  position: absolute;
  right: 0;
  top: calc(-100% - 100px);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: var(--Grayish-Blue);
  animation: upanddown 0.9s infinite alternate linear;
}

@keyframes upanddown {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.container > .right .progress .notice:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 0;
  height: 0;
  right: 0;
  border: 30px solid #0f0;
  border-color: transparent #fff transparent transparent;
}

.container > .right .progress .notice span {
  font-size: 40px;
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}

.container > .right .progress .colored {
  background-image: linear-gradient(to right, var(--clr-gradient));
  width: 85%;
  height: 100%;
  border-radius: 50vw;
  position: relative;
}

.container > .right .progress .colored:after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  right: 3px;
  top: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
}

.container > .right .description span {
  font-weight: bold;
  color: var(--Pale-Blue);
}

.container > .right .state-minandmax {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
}
